body {
    margin: 0;
}
#content {
    width: 200px;
    background-color: white;
    padding: 5px 10px;
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1;
    box-shadow: 2px 2px 2px 2px #eaeaea;
    transform: translate(-150%, 0);
    transition: 2s transform;
}

#content.Toggle {
    transform: translate(0, 0);
    transition: 2s transform;
}

#content-responsive {
    display: none;
}

.exit-button {
    margin: 0;
}
.exit-button:hover {
    cursor: pointer;
}
.exit-button:active {
    border: 1px solid transparent;
}

@media (max-width: 720px) {
    #content-responsive {
        position: fixed;
        z-index: 1;
        bottom: 0px;
        width: 100%;
        height: 50px;
        background-color: white;
        box-shadow: 5px 5px 5px 3px grey;
        padding: 4px 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        transform: translate(0, 150%);
        transition: 2s transform;
    }
    #content-responsive.Toggle {
        transform: translate(0, 0);
        transition: 2s transform;
    }
    #content-responsive p {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #content-responsive a {
        width: 100%;
        display: flex;
        font-size: 20px;
        color: crimson;
        text-decoration: none;
        justify-content: center;
    }
    #content-responsive .exit {
        position: fixed;
        top: -26%;
        right: 10px;
    }
    #content {
        display: none;
    }
}
