body {
    background-color: black;
    margin: 0;
}
#content {
    width: 20%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: white;
    padding: 5px 10px;
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1;
    transform: translate(-120%, 0);
    transition: 2s transform;
}

#content.Toggle {
    transform: translate(0, 0);
    transition: 2s transform;
}
